<ion-header>
  <ion-toolbar>
    <ion-title>Place cette pierre</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/stone/placed-stone"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fond-sac">
  <div class="">
    <h2 class="ion-text-center Titre-Tab-Page fond-gris padding-margin">{{ stone?.title }}</h2>
  </div>
  <div class="fond-gris padding-margin">   
        <div *ngIf="stone">
          <div class="photo-preview">
            <img [src]="stone.photo" [style.width]="'100%'" *ngIf="stone.photo" class="mask" />
            <img src="../../../assets/img/rock.png" [style.width]="'100%'" *ngIf="!stone.photo" class="mask" />
          </div>
        </div>
  </div>




  <form [formGroup]="placedStoneForm" (ngSubmit)="validatePlacedStone()">


    <ion-item class="hidden">
      <ion-input formControlName="latitude"></ion-input>
    </ion-item>

    <ion-item class="hidden">
      <ion-input formControlName="longitude"></ion-input>
    </ion-item>

    <ion-item class="hidden">
      <ion-input formControlName="inbag"></ion-input>
    </ion-item>

    <!-- <ion-item style="cursor: pointer;" (click)="addLatLng()">
      <ion-button fill="clear">
        <ion-icon slot="start" name="map"></ion-icon>
        Je veux mettre ma pierre ici
      </ion-button>
    </ion-item> -->

    <!-- <ion-button expand="full" [disabled]="!stoneForm.valid" type="submit">
      Confirm</ion-button> -->
    <div class="fond-gris padding-margin">
      <ion-button  class="monBouton" shape="round" expand="block"  routerLink="/tabs/stone" type="submit">
      Je cache ma pierre ici !
      </ion-button>
    </div>
    
  </form>


</ion-content>