body {
    padding: 0;
    margin: 0;
}

html,
body,
#mapId {
    //display: initial;
    height: 81%;
    width: 100%;

}

.mapboxgl-map {
    overflow: hidden;
}

.hide {
    display: none !important;
}


/* css to customize Leaflet default styles  */
.custom .leaflet-popup-content {
    width: 200px;
}

// #mapId {
//     display: block;
// }

.command {
    padding: 4px 6px;
    background: white;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-width: 200px;
}