<ion-header>
  <ion-toolbar class="fond-blanc">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/stone/stone-lists"></ion-back-button>
    </ion-buttons>
    <ion-title>Retour à la liste des pierres</ion-title>
  </ion-toolbar>
</ion-header>
<!-- PAGE DE DETAIL D UNE PIERRE QUAND JE SUIS DANS LA LISTE PAS DANS LE SAC -->
<ion-content class="fond-sac">

  <div class="">
    <h2 class="ion-text-center Titre-Tab-Page fond-gris padding-margin">{{ stone?.title }}</h2>
  </div>

  <div class="fond-gris padding-margin">   
        <div *ngIf="stone">
          <div class="photo-preview">
            <img [src]="stone.photo" [style.width]="'100%'" *ngIf="stone.photo" class="mask" />
            <img src="../../../assets/img/rock.png" [style.width]="'100%'" *ngIf="!stone.photo" class="mask" />
          </div>

          <ion-grid>
            <ion-item>
              <ion-label>
                Nom de la pierre : {{ stone.title }}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>Crée par : {{ stone.createurName['name'] }} </p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
               <p> Date de création : le {{ stone.created_at | date:"d MMM, y" }}</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>Description :{{ stone.description }} </p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>Latitude : {{ stone.latitude }} </p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>Longitude : {{ stone.longitude }} </p>
              </ion-label>
            </ion-item>
            
          </ion-grid>

        </div>
  </div>

  <!-- <ion-item>
    <ion-label position="floating">My comment</ion-label>
    <ion-textarea rows="5" [(ngModel)]="newComment"></ion-textarea>
  </ion-item>
  <ion-button expand="full" (click)="addComment()" [disabled]="newComment == ''">Add comment</ion-button> -->

  <!-- <ion-list>
    <ion-list-header>
      <ion-label>Comments</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let com of comments">
      <ion-avatar slot="start">
        <img [src]="com.author_avatar_urls['96']">
      </ion-avatar>
      <ion-label>
        <h2>{{ com.author_name }}</h2>
        <p [innerHTML]="com.content.rendered"></p>
      </ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>

<ion-footer>
  <!-- <ion-toolbar color="primary"> -->
  <!-- <ion-button color="light" expand="full" fill="clear" (click)="sharePost()">
      <ion-icon name="share" slot="start"></ion-icon> Share
    </ion-button> -->
  <!-- </ion-toolbar> -->
</ion-footer>