<ion-header class="hidden">
	<ion-toolbar>
		<ion-title>Mon sac de pierres</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="fond-sac">
	<!-- SEGMENT -->
	<!-- --------------------------------------------------------------------------------- -->
	<ion-segment class="fond-blanc"
		value="bag"
		(ionChange)="onFilterUpdate($event)"
		[(ngModel)]="segmentModel"
	>
		<ion-segment-button value="bag">
			<ion-label>Ton Sac</ion-label>
		</ion-segment-button>
		<ion-segment-button value="create-stone">
			<ion-label>Ajoute une pierre</ion-label>
		</ion-segment-button>
	</ion-segment>
	<!-- STONES-LIST-BAG -->
	<!-- ------------------------------------------------------------------------------------ -->
	<div *ngIf="segmentModel === 'bag'">
		<ion-grid *ngIf="user?.user_stone != 0">
			<h2 class="ion-text-center Titre-Tab-Page fond-gris padding-margin">Inventaire</h2>
			<div class="fond-gris padding-margin">
				<ion-row class="flex">
				<div *ngFor="let stone of user?.user_stone">
					<div *ngIf="stone">
						<ion-col size="4">
							<!-- <ion-list> -->
							<!-- <div class="header">
              <h2>{{ stone.title }}</h2>
            </div> -->
							<div class="slot-inventary">
								<div class="">
									<div class="">
										<a
											[routerLink]=" ['/', 'tabs' ,'stone-bag','stone-bag-details', stone.id]"
										>
											<div class="photo-inventaire">
												<img class="mask img"
													[src]="stone.photo.sizes['medium']"
													[style.width]="'100%'"
													*ngIf="stone.photo.sizes.medium"
												/>
												<img class="mask img"
													src="../../../assets/img/camera.png"
													[style.width]="'100%'"
													*ngIf="!stone.photo.sizes.medium"
												/>
											</div>
										</a>
									</div>
								</div>
							</div>

							<!-- </ion-list> -->
						</ion-col>
					</div>
				</div>
				<div
					*ngFor="let in of counter(12 - user?.user_stone.length) ;let i = index"
				>
					<div>
						<ion-col size="4">
							<div class="slot-inventary">
								<div class="">
									<div class="">
										<ion-avatar>
											<!-- <img src="../../../assets/img/case-vide.png" [style.width]="'100%'" /> -->
										</ion-avatar>
									</div>
								</div>
							</div>
						</ion-col>
					</div>
				</div>
				<!-- --------------------------------------------------- -->
				<!-- <div *ngIf="user?.user_stone.length == 2 ">
          <div>
            <ion-col size="4">
              <div class="slot-inventary">
                <div class="">
                  <div class="">
                    <ion-avatar>
                      <img src="../../../assets/img/pierre-2.png" [style.width]="'100%'" />
                    </ion-avatar>
                  </div>
                </div>
              </div>
            </ion-col>
          </div>

        </div> -->
				<!-- ---------------------------------------------------------------- -->

				<!-- --------------------------------------------------- -->
				<!-- <div *ngIf="user?.user_stone.length == 1 ">
          <div>
            <ion-col size="4">
              <div class="slot-inventary">
                <div class="">
                  <div class="">
                    <ion-avatar>
                      <img src="../../../assets/img/pierre-2.png" [style.width]="'100%'" />
                    </ion-avatar>
                  </div>
                </div>
              </div>
            </ion-col>
          </div>

        </div> -->
				<!-- ---------------------------------------------------------------- -->

				<!-- --------------------------------------------------- -->
				<!-- <div *ngIf="user?.user_stone.length == 1 ">
          <div>
            <ion-col size="4">
              <div class="slot-inventary">
                <div class="">
                  <div class="">
                    <ion-avatar>
                      <img src="../../../assets/img/pierre-2.png" [style.width]="'100%'" />
                    </ion-avatar>
                  </div>
                </div>
              </div>
            </ion-col>
          </div>

        </div> -->
				<!-- ---------------------------------------------------------------- -->

				<!-- <div>
          <ion-col size="6">
            <div class="slot-inventary">
              <div class="">
                <div class="">
                  <ion-avatar>
                    <img src="../../../assets/img/pierre-2.png" [style.width]="'100%'" />
                  </ion-avatar>
                </div>
              </div>
            </div>
          </ion-col>
        </div> -->
			</ion-row>
			</div>
			
			<!-- <ion-row *ngIf="!user?.user_stone">
        <ion-col>
          <div>
            <img src="../../../assets/img/pierro.png" alt="">
          </div>
        </ion-col>
      </ion-row> -->
		</ion-grid>
		<!-- ------------------------------------------------------------------ -->
		<!-- Si l'utilisateur n'as pas de pierre on affiche un message -->
		<div *ngIf="user?.user_stone == 0">
			<h2 class="ion-text-center Titre-Tab-Page fond-gris padding-margin">Inventaire</h2>
			<div class="fond-gris padding-margin">			
			<img src="../../../assets/img/Bag/Montage-sac.png" alt="" />
			</div>
		</div>
		<!-- ----------------------------------------------------------------------------- -->
	</div>

	<!-- CREATE STONE FORM -->
	<!-- ---------------------------------------------------------------------------------------- -->
	<div *ngIf="segmentModel === 'create-stone'">
		<ion-grid>
			<h2 class="ion-text-center Titre-Tab-Page fond-gris padding-margin">Fabrication</h2>
			<div class="fond-gris padding-margin">
				<!-- <div *ngIf="onCreate"> -->
		<form [formGroup]="stoneForm" (ngSubmit)="validateCreateStone()">
			<ion-item>
				<ion-label position="floating" color="tertiary" class="label-form ion-text-center">Nom de la Pierre</ion-label>
				<ion-input formControlName="title" color="tertiary"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label position="floating" color="tertiary" class="label-form ion-text-center">Description</ion-label>
				<ion-input formControlName="description"></ion-input>
			</ion-item>

			<ion-item class="hidden">
				<ion-input formControlName="user_id"></ion-input>
			</ion-item>

			<ion-item class="hidden">
				<ion-input formControlName="inbag"></ion-input>
			</ion-item>

			<ion-item class="hidden">
				<ion-input formControlName="createurName"></ion-input>
			</ion-item>

			<div>
				<ion-item>
				<ion-label color="tertiary" class="myFakeUploadButton ion-text-center">Photo</ion-label><br/>
				<ion-input type="file" id="myFileInput" formControlName="photoStone" (change)="onFileChange($event)"></ion-input>
				<!-- <ion-input formControlName="photoStone" accept="image/*" ></ion-input> -->
			</ion-item>
			</div>
			

			<!-- <ion-item class="">
				<ion-label position="">Photo de la pierre</ion-label>
				<input formControlName="photoStone" />
			</ion-item> -->

			<!-- Bouton pour prendre la photo -->
			<!-- <ion-button (click)="takePicture()"></ion-button> -->

			<!-- Aperçu de la photo -->
			<ion-item>
				<div class="photo-preview">
					<img *ngIf="img1" [src]="img1" class="mask" />
				</div>
				
			</ion-item>

			<!-- Essais photo -->
			<!-- Essayer de créer un input avec la donnée de la photo pour pouvoir la push dans Wordpress -->
			<!-- <ion-item>
				<ion-input type=file formControlName="photoStone">{{ this.photoStone }}</ion-input>
			</ion-item> -->


			<!-- Essais Loic Method -->

			<!-- <form (ngSubmit)="postForm()" method="post" enctype="multipart/form-data"> -->
				<!-- <ion-item>
					<ion-label>Titre</ion-label>
					<ion-input type="text" [(ngModel)]="title" name="title"></ion-input>
				</ion-item> -->

				<!-- <ion-item>
					<ion-label>Photo</ion-label>
					<ion-input type="file" [(ngModel)]="photo" (change)="onFileChange($event)" name="photo"></ion-input>
				</ion-item> -->

				

				<!-- <button ion-button type="submit" block>Add new post</button> -->
			<!-- </form> -->

			

			<!-- Cordova system -->
			<!-- <img
				[src]="imageUrl"
				style="width: 60px; height: 60px;"
				[hidden]="hideImage"
			/>
			<ion-button (click)="getPhoto()"></ion-button>
      <ion-button (click)="uploadPhoto()"></ion-button> -->

	  <!-- Not Cordova system -->
			<!-- <img formControlName="photoStone" (click)="takePicture()" [src]="photoStone" style="width:60px; height:60px;" /> -->
			<!-- <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item> -->
			<!-- || !this.photoStone -->
			<ion-button *ngIf="!stoneForm.valid" color="danger" expand="full" [disabled]="!stoneForm.valid" type="submit">
				Valider</ion-button>
			<ion-button *ngIf="stoneForm.valid" color="success" expand="full" [disabled]="!stoneForm.valid" type="submit">
				Valider</ion-button>
		</form>
			</div>
			
		</ion-grid>
		
		<!-- </div> -->
		<!-- fab placed to the bottom end -->
		<!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!onCreate">
      <ion-fab-button color="danger" (click)="createStone()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
	</div>
</ion-content>
