<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="stone">
      <!-- <ion-icon name="egg-outline"></ion-icon> -->
      <ion-icon src="/assets/icon/Map.svg"></ion-icon>
      <ion-label>Chasse</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stone-bag" class="">
      <!-- <ion-icon name="briefcase-outline"></ion-icon> -->
      <ion-icon src="/assets/icon/bag-2.svg"></ion-icon>
      <ion-label>Sac à dos</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="profile">
      <!-- <ion-icon name="person-outline"></ion-icon> -->
      <ion-icon src="/assets/icon/Profil.svg"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>