@font-face {
    font-family: 'Arial-Rounded';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Arial_Rounded_MT.ttf');
}

@font-face {
    font-family: 'Arial-Rounded-Bold';
    font-style: normal;
    font-weight: bold;
    src: url('../assets/fonts/Arial-Rounded-MT-Bold.ttf');
}

@font-face {
    font-family: 'Arial-Rounded-ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/Arial_Rounded_MT_ExtraBold.ttf');
}