.header {
    background-color: var(--ion-color-primary-shade);
    height: 12rem;
    padding-top: 1px;
}

.header h2 {
    color: white;
    font-weight: 500;
    text-align: center;
    margin-top: 3rem;

}

.fond-blanc {
    background: white;
}

.fond-gris {
    //width: 100%;
    //height: auto;
    // background: url(../../../assets/img/bag/fond-gris.jpg) 0 0/100% 100% no-repeat;
    // background-size: contain;
    background: #032a26a8;
    box-shadow: inset 0px 0px 11px 4px #0000007d;
    // mask-image: url(../../../assets/img/bag/fond-gris.svg);
}

.padding-margin {
    padding: 5px;
    margin: 20px;
}

.fond-sac {
    --background: url(../../../../assets/img/bag/fond-sac.jpg) 0 0/100% 100% no-repeat;
}

.title-sac {
    font-family: "Arial-Rounded-ExtraBold";
}

.border-white {
    border: 4px solid white;
    border-radius: 50%;
    width: fit-content;
}

.border-color {
    border: 7px solid var(--ion-color-primary);
    border-radius: 50%;
    width: fit-content;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    //margin-top: -6rem;
    //margin-right: 2px;
    //width: 100%;
}

.photo-inventaire {
    height: 6rem;
    width: 6rem;
    padding: 6px;
    //clip-path: url(../../../assets/img/Bag/cadre.svg)0 0/100% 100% no-repeat;
}

.photo-inventaire img {
    max-width: 100%;
    border: 0;
    object-fit: cover;
    overflow: hidden;
    //clip-path: url(../../../assets/img/Bag/cadre.svg)0 0/100% 100% no-repeat;
}

ion-avatar {
    height: 6rem;
    width: 6rem;
    padding: 6px;
    //clip-path: url(../../../assets/img/Bag/cadre.svg)0 0/100% 100% no-repeat;
}

.hidden {
    display: none;
}

.mask {
    mask-image: url(../../../../assets/img/Bag/formask.svg);
    //background: url(../../../assets/img/Bag/cadre.svg)0 0/100% 100% no-repeat;
    //overflow: hidden;
}

.slot-inventary {
    height: auto;
    width: 100%;
    // background: rgb(214, 214, 214);
    // clip-path: url(../../../assets/img/Bag/cadre.svg);
    background: url(../../../../assets/img/Bag/cadre-jaune-3.svg)0 0/100% 100% no-repeat;
    //opacity: 0.6;
    // border: solid 1px grey;
    // box-shadow: inset 0 0 10px #000000;
    padding: 5px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.opacity {
    opacity: 1;
}

.bg_class {
    // --background: linear-gradient(197deg,
    //         #fdbb2d 0%,
    //         #b21f1f 33.5%,
    //         #1a2a6c 100%) !important;
    --background: linear-gradient(to right, #FBCF75, #04DEA8) !important;
}