<ion-header class="hidden">
  <ion-toolbar>
    <ion-title>authentification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="accueil-background">
  <form [formGroup]="userForm" (ngSubmit)="onLogin()" class="accueil-form">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>


     <!-- -------------------------------- Bouton Sign In ---------------------------------- -->
    <ion-button *ngIf="!userForm.valid" color="danger" expand="full" [disabled]="!userForm.valid" type="submit">Me connecter</ion-button>
    <ion-button *ngIf="userForm.valid" color="success" expand="full" [disabled]="!userForm.valid" type="submit">Me connecter</ion-button>
    <!-- ----------------------------------------------------------------------------------- -->
    <!-- -------------------------------- Bouton Register ---------------------------------- -->
    <ion-button expand="full" [disabled]="(!userForm.valid)" type="button" color="secondary" (click)="signUp()">M'enregistrer</ion-button>
    <!-- ----------------------------------------------------------------------------------- -->

    <ion-button class="" expand="full" type="button" color="warning" (click)="openPwReset()">J'ai oublié mon password !</ion-button>


  </form>
</ion-content>