.accueil-background {
    --background: url(../../assets/img/accueil/accueil-background.jpg) 0 0/100% 100% no-repeat;
}

.accueil-form {
    margin-top: 230px;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid #563955;
    box-shadow: 1px 6px 14px 0px #382145;
    
}