<ion-header>
  <ion-toolbar>
    <ion-title>change-avatar {{ user?.fullname }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="closeChangeAvatar()">Close</ion-button>

  <ion-grid>

    <!-- LES INPUTS HIDDENS & BOUTONS -->
    <ion-item class="hidden">
      <ion-input [formControl]="photoInput"></ion-input>
    </ion-item>
    <ion-item class="hidden">
      <ion-input [formControl]="photoInputUrl"></ion-input>
    </ion-item>
    <ion-button [disabled]="photoInput.invalid" expand="full" (click)="validateChangeAvatar()">Valider mon avatar
    </ion-button>

    <!-- LES AVATARS -->
    <!-- ROW 1 -->
    <ion-row class="ion-justify-content-around">

      <ion-col class="avatar-col">
        <ion-item lines="none" (click)="changeAvatar()">
          <img src="../../assets/img/avatars/1.png">
        </ion-item>
      </ion-col>

      <ion-col class="avatar-col">
        <ion-item lines="none" (click)="changeAvatar2()">
          <img src="../../assets/img/avatars/2.png">
        </ion-item>
      </ion-col>

      <ion-col class="avatar-col">
        <ion-item lines="none" (click)="changeAvatar3()">
          <img src="../../assets/img/avatars/3.png">
        </ion-item>
      </ion-col>

    </ion-row>
    <!-- ROW 2 -->
    <ion-row>

      <ion-col class="avatar-col">
        <ion-item lines="none" (click)="changeAvatar4()">
          <img src="../../assets/img/avatars/4.png">
        </ion-item>
      </ion-col>

      <ion-col class="avatar-col">
        <ion-item lines="none" (click)="changeAvatar5()">
          <img src="../../assets/img/avatars/5.png">
        </ion-item>
      </ion-col>

      <ion-col class="avatar-col">
        <ion-item lines="none" (click)="changeAvatar6()">
          <img src="../../assets/img/avatars/6.png">
        </ion-item>
      </ion-col>

    </ion-row>

    <!-- </form> -->
  </ion-grid>

  <!-- <ion-radio-group>
          <ion-item class="avatar-1">
            <ion-radio slot="end"></ion-radio>
          </ion-item>
        </ion-radio-group> -->
</ion-content>