<ion-header>
  <ion-toolbar>
    <ion-title>change-avatar {{ user?.fullname }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="closeChangeAvatar()">Close</ion-button>

  <ion-grid>

    <ion-item class="hidden">
      <ion-input [formControl]="photoInput"></ion-input>
    </ion-item>
    <ion-item class="hidden">
      <ion-input [formControl]="photoInputUrl"></ion-input>
    </ion-item>
    <ion-button [disabled]="photoInput.invalid" expand="full" (click)="validateChangeAvatar()">Valider mon avatar
    </ion-button>
    <ion-row>

      <ion-col>


        <ion-item lines="none" (click)="changeAvatar()">

          <img src="../../assets/img/avatars/1.png">
        </ion-item>

      </ion-col>

      <!-- ESSAYER DE FAIRE DES INPUTS NON VISIBLE DANS UN FORMULAIRE, AVEC
             LES IMG DES AVATARS EN IMAGE AVEC UNE FONCTION MISE DESSUS QUI MET UN
             SETVALUE SUR L INPUT ET APRES VALIDATION DU FORMULAIRE VIA UN BOUTON
             POUR VALIDE RLE FORMULAIRE ET L ENVOIS DU PUT A L API -->

      <ion-col>
        <ion-item lines="none" (click)="changeAvatar2()">
          <img src="../../assets/img/avatars/2.png">
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item lines="none" (click)="changeAvatar3()">
          <img src="../../assets/img/avatars/3.png">
        </ion-item>
      </ion-col>

    </ion-row>


    <!-- </form> -->
  </ion-grid>

  <!-- <ion-radio-group>
          <ion-item class="avatar-1">
            <ion-radio slot="end"></ion-radio>
          </ion-item>
        </ion-radio-group> -->
</ion-content>